@font-face {
  font-family: 'PokemonHollow';
  src: url('fonts/PokemonHollow.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PokemonSolid';
  src: url('fonts/PokemonSolid.ttf');
  font-weight: normal;
  font-style: normal;
}
